@import "~spotify-shared-web/assets/styles/variables.scss";

.pcResults {
	padding-bottom: 10px;
}

.pcErrorResults {
	display: flex;
}

.pcMessages {
	display: block !important;
}

.messages-header {
	padding-bottom: 10px;
}

h3 {
	text-transform: none;
}

.messages-addon {
	padding-right: 12px !important;
}
