@import '~spotify-shared-web/assets/styles/variables';

/**********SAT STyles ************************/
.modal-open .modal {
	overflow-y: auto;
}
.carousel-caption {
	color: black !important;
	position: relative;
	left: 0;
	right: 0;
	margin-left: 15%;
	margin-right: 15%;
}

.carousel-item {
	position: relative !important;
}


.carousel-indicators {
	position: absolute !important;
	bottom:-10px;
}

.carousel-inner {
	width: calc(100% - 5rem);
	margin: 0 auto;
	
}

.carousel-control-prev, .carousel-control-next {
	width: 5%;
}

.modal-dialog {
	max-width: 72rem;
}

.carousel-indicators li {
	position: relative !important;
	width: 14px;
	height: 14px;
	opacity: 1;
	transition: opacity .2s ease;
	border: 2px solid #dbe2e2;
	border-radius: 50%;
}

.carousel-indicators li.active:after {
	content: "";
    background: #00827e;
    position: absolute;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.overlay-body .carousel-inner {
	min-height: 400px;
}



