@import '~spotify-shared-web/assets/styles/variables';

.form-container {
  &__copy {
    font-weight: $normal;
    font-size: 16px;
    line-height: 22px;
    // color: $gray-dark;
    color: $newBlack;
    margin: 0 0 20px;
  }

  &__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;

    p {
      font-weight: $normal;
      font-size: 16px;
      line-height: 22px;
      color: $black;
      margin: 0;
    }

    button {
      font-weight: $semi-bold;
      font-size: 16px;
      line-height: 22px;
      outline: none;
      color: $blue;
      background-color: transparent;
      border: none;
      padding: 0;
      text-decoration: underline;
      letter-spacing: -0.4px;
      cursor: pointer;
    }
  }
  
  &__validation-text {
    margin: 0 0 20px !important;
  }
}
