@import '~spotify-shared-web/assets/styles/variables';

.header {
  //display: flex;
  //justify-content: space-between;
  //padding: 0 15px;
  width: 100%;

  

  &__title {
    font-style: normal;
    //font-weight: 500;
    letter-spacing: 0.2px;
    margin: 0 0 14px 0;
    color: $blue;
    // font-size: 2rem;
    // line-height: 2.5rem;
   // border-bottom: 1px solid lightgrey;
    font-weight: normal !important;

    @media screen and (max-width:$screen-md) and (min-width:$screen-sm) {
      font-weight: 500 !important;
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.4px;
    //margin: 0 0 46px 0;
    color: #42414E;
    // font-size: 16px;
    // line-height: 24px;
   // color: $blue;
  }

  &__logo {
    height: 52px;
    width: 52px;
  }

/*&__title {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 0 0 0 0;
  color: $blue;
  font-size: 30px;
  line-height: 38px;
}
&__subtitle {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.4px;
  margin: 14px 0 34px 0;
  color: #42414E;
  font-size: 12px;
  line-height: 20px;
  color: $blue;
}*/
}

.headerstyle{
  @media screen and (max-width: $screen-sm) {
    border:none;
  }
}
