
@import "./inline-svg-function.scss";

.assessment {
    position: relative;
    //max-width: 700px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $tertiary-gray;
    border-radius: 4px;

    &:last-child {
        margin-bottom: 0;
    }

    &.complete {
        background: $tab-background;
        border: none;
    }

    &.active {
        box-shadow: $box-shadow;
        border: none;
    }
}

.assessment-top {
    display: flex;
    align-items: center;
}

.assessment-bottom {
    margin-top: 1rem;

    .has-info {
        align-self: center;
        background-position: 0;
        padding-left: 30px;
    }
}

.assessment-title {
    font-size: 18px;
    font-family: "Poppins Medium" sans-serif;
    color: $black;
    margin-right: .5rem;
}

.assessment-popover {
    width: 18px;
    height: 18px;
    background-image: url("./assets/images/help.svg");
    background-repeat: no-repeat;
}

.assessment-addon {
    position: absolute;
    top: 1rem;
    right: 1rem;

    &:after {
        content: "";
        display: flex;
        border-radius: 50%;
        border: 2px solid $light-gray;
        width: 20px;
        height: 20px;
    }

    &.complete {

        &:after {
            content: "";
            border-color: $spotify-blue;
            background-color: $spotify-blue;
            background-image: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#fff' stroke-width='3' stroke-linecap='square' stroke-linejoin='round' class='feather feather-check'><polyline points='20 6 9 17 4 12'></polyline></svg>");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &.active {

        &:after {
            content: "";
            background-color: $white;
            background-image: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24' fill='#{$spotify-blue}' stroke='#{$spotify-blue}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-circle'><circle cx='12' cy='12' r='10'></circle></svg>");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
            border-color: $spotify-blue;
            border-radius: 50%;
        }
    }

    &.paused {

        &:after {
            content: "";
            background-color: $white;
            background-image: inline-svg("<svg aria-hidden='true' focusable='false' data-prefix='far' data-icon='clock' class='svg-inline--fa fa-clock fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{$spotify-blue}' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z'></path></svg>");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border-color: $spotify-blue;
            border-radius: 50%;
            border: none;
        }
    }
}

.popover {
    min-width: 390px;
    background-color: $tab-background;
}

.popover-header {
    background: $white;
}

.popover-body {
    padding: 1.5rem;
}

.alert {
    color: rgb(238, 135, 11);
    font-weight: bold;
    text-align: left;
}
