// @font-face {
//     font-family: "Poppins Semibold";
//     src: url("../../../src/assets/fonts/Poppins-SemiBold.ttf") format("truetype"),

// }
// Cards
.spotify-card {
  position: relative;
  padding: 1rem;
  border-radius: 4px;

  &.primary {
    box-shadow: $box-shadow;
  }

  &.secondary {
    background: $tab-background;
  }
}

// Nav Tabs
.nav-tabs {
  border-bottom: 1px solid $lighter-gray;
}

.nav-tabs .nav-link {
  color: $dark-gray;
  border: 1px solid $lighter-gray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 21px;
  font-family: "Poppins";
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-tabs .nav-link:active {
  text-decoration: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  text-decoration: none;
  background-color: $tab-background;
}

.nav-tabs .nav-item:not(:last-child) {
  margin-right: 1rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: $lighter-gray $lighter-gray #0000;
}

.nav-tabs .nav-link.active {
  color: $spotify-blue;
  border-bottom: 3px solid $spotify-blue;
  background-color: $tab-background;
}

.tab-container {
  max-width: 550px;
}

.tab-content {
  // border-width: 1px;
  //border-style: solid;
  // border-color: #0000 $lighter-gray $lighter-gray;
  // max-height: 275px;
  // overflow: scroll;
  // overflow-x: hidden;
  // padding: 1rem;

  /*&::-webkit-scrollbar {
        display: none;
    }*/
}
// End of Nav Tabs

// Accordions
.accordion {
  max-width: 367px;
}

.accordion-group-addon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px 13px 0 0;
  transition: all 200ms;
  font-weight: bold;
}

.card {
  border: none;
  //box-shadow: $box-shadow;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: $white;
  border-bottom: none;
  cursor: pointer;

  &:hover {
    background-color: $tab-background;
  }
}

.accordion [aria-expanded="true"] .fa-chevron-down {
  transform: rotate(180deg);
}

.card-title {
  font-weight: bold;
}
// End of Accordions

// Overlay
.overlay {
  padding: 1.25rem 1rem;
  border: 1px solid $lighter-gray;
  border-radius: 8px;
  box-shadow: $box-shadow;
  max-width: 840px;
}

.overlay-title {
  font-size: 24px;
  text-transform: uppercase;
}

.overlay-body {
  .carousel-inner {
    width: calc(100% - 5rem);
    margin: 0 auto;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 20px;
  }

  .carousel-indicators {
    position: static;
    margin: 1rem auto 0;

    li {
      position: relative;
      width: 14px;
      height: 14px;
      opacity: 1;
      transition: opacity 0.6s ease;
      border: 2px solid $lighter-gray;
      border-radius: 50%;
    }

    li.active {
      border-color: $spotify-blue;
    }

    li.active::after {
      content: "";
      background: $spotify-blue;
      position: absolute;
      border-radius: 50%;
      width: 9px;
      height: 9px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
  }

  .carousel-control-next:focus,
  .carousel-control-next:hover,
  .carousel-control-prev:focus,
  .carousel-control-prev:hover {
    opacity: 0.5;
  }
}

// Modal
.modal-header {
  padding: 1rem;
  border-bottom: none;
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px;
}

.modal-dialog {
  max-width: 676px;
}

.modal-body {
  padding: 0 1rem;
}

.narrow-modal-body {
  max-width: 380px;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-footer {
  justify-content: flex-start;
  padding: 0.75rem;
  border-top: none;
  border-bottom-right-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
}

.modal-helper {
  padding: 0 1rem 1.5rem;
}
// End of Modal

//for Noshow deposit Modal

#NoShowDeposit {
  font-family: "Poppins SemiBold";

  .modal-header {
    padding: 2rem 1rem 0rem 2rem;
    border-bottom: none;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    justify-content: center;

    .modal-title {
      h3 {
        font-family: "Poppins SemiBold";
        font-size: 24px;
        line-height: 14px;
      }
    }
  }

  .modal-dialog {
    max-width: 676px;
  }

  .modal-body {
    padding: 0 3rem 0rem 2rem;
    p {
      font-family: "Poppins Regular";
      font-size: 16px;
      line-height: 27px;
    }
    .custom-control-label{
        font-size: 16px;
        @media screen and (max-width: 1200px) {
          font-size: 12px; 
          }
    }
  }
  

  .narrow-modal-body {
    max-width: 380px;
  }

  .modal-open .modal {
    overflow-y: hidden;
  }

  .modal-footer {
    justify-content: flex-end;
    padding: 0 3rem 1.5rem 2rem;;
    border-top: none;
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;

    Button.btn-primary{
      order:1;
    }
  }

  .modal-helper {
    padding: 0 1rem 1.5rem;
  }
}


#ClosedWindow {
  font-family: "Poppins SemiBold";

  .modal-header {
    padding: 2rem 1rem 0rem 2rem;
    border-bottom: none;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    justify-content: center;

    .modal-title {
      h3 {
        font-family: "Poppins SemiBold";
        font-size: 24px;
        line-height: 14px;
      }
    }
  }

  .modal-dialog {
    max-width: 676px;
  }

  .modal-body {
    padding: 0 3rem 0rem 2rem;
    p {
      font-family: "Poppins Regular";
      font-size: 16px;
      line-height: 27px;
    }
    .custom-control-label{
        font-size: 16px;
        @media screen and (max-width: 1200px) {
          font-size: 12px; 
          }
    }
  }
  

  .narrow-modal-body {
    max-width: 380px;
  }

  .modal-open .modal {
    overflow-y: hidden;
  }

  .modal-footer {
    justify-content: center;
    padding: 0 3rem 1.5rem 2rem;;
    border-top: none;
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;

    Button.btn-primary{
      order:1;
    }
    button{
      width:max-content !important;
    }
  }

  .modal-helper {
    padding: 0 1rem 1.5rem;
  }
}

// Inline Scroll
.inline-scroll {
  border: 1px solid $lighter-gray;
  max-height: 486px;
  height: 100%;
  max-width: 550px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 1rem 1.5rem;
}

#NoShowDepositWithCloseButton {
  font-family: "Poppins SemiBold";

  .modal-header {
    padding: 2rem 1rem 0rem 2rem;
    border-bottom: none;
    border-top-left-radius: 2.5px;
    border-top-right-radius: 2.5px;
    justify-content: space-between;

    .modal-title {
      margin:auto;
      h3 {
        font-family: "Poppins SemiBold";
        font-size: 24px;
        line-height: 14px;
      }
    }
    .close{
      padding:1rem 1rem;
      margin:-1rem -1rem -1rem 0rem;
    }
  }

  .modal-dialog {
    max-width: 676px;
  }

  .modal-body {
    padding: 0 3rem 0rem 2rem;
    p {
      font-family: "Poppins Regular";
      font-size: 16px;
      line-height: 27px;
    }
    .custom-control-label{
        font-size: 16px;
        @media screen and (max-width: 1200px) {
          font-size: 12px; 
          }

    }
  }
  

  .narrow-modal-body {
    max-width: 380px;
  }

  .modal-open .modal {
    overflow-y: hidden;
  }

  .modal-footer {
    justify-content: flex-end;
    padding: 0 3rem 1.5rem 2rem;;
    border-top: none;
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;

    Button.btn-primary{
      order:1;
    }
  }

  .modal-helper {
    padding: 0 1rem 1.5rem;
  }
}
