@import "./inline-svg-function.scss";
// Messages
.messages {
    max-width: 570px;
    width: 100%;
    display: flex;
    background-color: $tab-background;
    padding: 1rem 26.5px;
    margin-bottom: 1rem;
    border-radius: 4px;

    &:last-child {
        margin-bottom: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .messages-addon {
        padding-right: 26.5px;

        &:before {
            content: "";
            display: flex;
            height: 25px;
            width: 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            border-color: $spotify-blue;
            border-radius: 50%;
        }

        &.error:before {
            content: "";
            background-image: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#D65767' width='18px' height='18px'><path d='M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z'/></svg>");
            border-radius: 0;
        }

        &.info:before {
            content: "";
            background-image: inline-svg("<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 24 24' fill='none' stroke='#{$spotify-blue}' stroke-width='2' stroke-linecap='square' stroke-linejoin='square' class='feather feather-info'><circle cx='12' cy='12' r='10'></circle><line x1='12' y1='16' x2='12' y2='12'></line><line x1='12' y1='8' x2='12.01' y2='8'></line></svg>");
        }

        &.complete:before {
            content: "";
            background-image: inline-svg("<svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check-circle' class='svg-inline--fa fa-check-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{$spotify-blue}' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'></path></svg>");
        }
    }
}
