.program-board {
    box-shadow: $box-shadow;
    background-color: $tab-background;
    //max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    //margin: 0 15px 16px;
    &_top {
        padding: 1rem;
        text-align: center;
        background-color: $white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__logo {
            max-width: 165px;
            width: 100%;
            height: 100px;
            margin: 0 auto 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
            }
        }

        &__table {
            /*max-width: 290px;
            text-align: left;*/
            margin: 0 auto;
            font-size: 14px;

            td {
                padding-left: 20px;
            }

            .fa-star {
                color: $secondary-orange;
            }
        }
    }

    &_bottom {
        padding: 1rem 10px;
        text-align: center;
        background-color: $tab-background;
        border-top: 1px solid $tertiary-gray;
        font-size: 11px;
        color: $secondary-black;

        &__icon {
            //max-width: 64px;
            margin-right: 5px;
            margin-left: 5px;

            img {
                margin: auto;
                max-width: 40px; //50px;
            }

            span {
                text-align: center;
                font-size: 13px;
            }
        }

        &__link {
            color: inherit;
            text-decoration: none;
            font-family: "Poppins Medium" san-serif;
            display: grid;



            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}
