/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2caca;
    max-height: 81px;
    border-radius: 10px;
    margin-right: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $light-gray;
}
