@import '~spotify-shared-web/assets/styles/variables';

.submit-wrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: right;

  p {
    font-weight: $normal;
    color: $newBlack;
    font-size: 16px;
    margin: 0;
  }
}

.restart-button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: $spotify-blue;
  text-decoration: underline;
  outline: none;
  background: none;
}

.align-right {
  text-align: right;
}
.text-bold {
  //font-weight: bold;
font-style: normal;
font-weight: 600;
font-size: 16px !important;
line-height: 19px;
color: #42414E;
margin-bottom: 12px !important;
}
.agreementcopy{
  font-style: normal !important;
font-weight: normal !important;
font-size: 15px;
line-height: 22px !important;
color: #42414E;
}
