@import '~spotify-shared-web/assets/styles/variables';

.form-container {
  &__header {
    font-weight: $semi-bold;
    font-size: 16px;
    line-height: 22px;
    color: $gray-dark;
    margin: 0 0 12px;
  }

  &__copy {
    font-weight: $normal;
    font-size: 14px;
    line-height: 20px;
    color: $gray-dark;
    margin: 0 0 40px;
  }
}
