<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="block" stopProcessing="true">
          <match url="^static/" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="None" />
        </rule>
        <rule name="Fonts" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="fonts/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8096/api/oauth/fonts/{R:1}" />
        </rule>
        <rule name="JS" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="js/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8096/api/oauth/js/{R:1}" />
        </rule>
        <rule name="CSS" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="css/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8096/api/oauth/css/{R:1}" />
        </rule>
        <rule name="PRM.RestAPI" stopProcessing="true">
          <match url="api/prm/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8001/{R:1}" />
        </rule>
        <rule name="PRM.RestAPI.BasicAuth" stopProcessing="true">
          <match url="api/prmbasicauth/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8002/{R:1}" />
        </rule>
        <rule name="Starmatic.RestAPI" stopProcessing="true">
          <match url="api/starmatic/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}" />
        </rule>
        <rule name="OAuth" enabled="true" stopProcessing="true">
          <match url="api/oauth/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8096/{R:1}" />
        </rule>
        <rule name="PrivacyPolicyRedirect" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="app/privacy-policy" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://www.spotify.com/privacy-policy" />
        </rule>
        <rule name="TermsOfUseRedirect" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="app/terms-of-use" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://www.spotify.com/terms-of-use" />
        </rule>
        <rule name="Static Assets" enabled="true" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{PATH_INFO}" pattern="resources" negate="true" />
          </conditions>
          <action type="Rewrite" url="/{R:1}" />
        </rule>
        <rule name="ReactRouter Routes" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <cors enabled="true">
      <add origin="*" allowed="true">
        <allowHeaders allowAllRequestedHeaders="true" />
        <allowMethods>
          <add method="GET" />
          <add method="HEAD" />
          <add method="POST" />
          <add method="PUT" />
          <add method="DELETE" />
        </allowMethods>
      </add>
    </cors>
    <tracing>
      <traceFailedRequests>
        <remove path="*" />
        <add path="*">
          <traceAreas>
            <add provider="WWW Server" areas="Authentication,Security,Rewrite,WebSocket,ANCM,Cors" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="200-501" />
        </add>
      </traceFailedRequests>
    </tracing>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="X-Frame-Options" value="sameorigin" />
        <add name="Content-Security-Policy" value="frame-ancestors 'none'" />
        <remove name="ETag" />
        <remove name="Server" />
        <remove name="X-AspNet-Version" />
        <remove name="X-Powered-By" />
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
  </system.web>
</configuration>
