@import '~spotify-shared-web/assets/styles/variables';
@import '~spotify-shared-web/assets/styles/forms';

.ssn-inputs-wrapper,
.firstname-inputs-wrapper,
.lastname-inputs-wrapper,
.ssn-confirm-inputs-wrapper {
  margin-bottom: 16px;
  height: 40px;
  
}
.ssn-confirm-inputs-wrapper{
  margin-bottom: 32px;
}

.submit-wrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: $normal;
    color: $newBlack;
    font-size: 16px;
    margin: 0;
  }
}

.restart-button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: $spotify-blue;
  text-decoration: underline;
  outline: none;
  background: none;
  //margin-bottom: 64px;
}

.edit-button {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 14px;
  color: #FF8D50;
  border:#FF8D50;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 45px;
  //text-decoration: underline;
  cursor: pointer;
  background: none;
  //margin-bottom: 64px;

  &:focus {
    outline: none;
  }
}

.alignright {
  //text-align: right;
  float: right;
  
}
@media screen and (max-width:576px) {
  .alignright{
    float: right;

  }
}
