@import '~spotify-shared-web/assets/styles/variables';

.align-center {
    text-align: center;
}

.justified-text {
  text-align: justify;
  line-height: 1.5;
  width: 70%;
  margin: left;
  font-size: 12px;
}

.restart-button {
    border: $spotify-blue;
    padding: 16px;
    cursor: pointer;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    //text-decoration: underline;
    outline: none;
    background: $spotify-blue;
    border-radius: 4px;
    width: 100%;
  }
.pending-review {
    border-radius: 4px;
    background-color: #EAEFF2;
    padding: 34px 32px;
    margin-bottom: 32px;

    &__header {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
        color: $newBlack;
        margin: 0 0 8px;
    }

    &__copy {
        font-size: 12px;
        font-weight: $normal;
        color: $gray-disabled;
        margin: 0;
    }
}

// .horizontal-spacing {
//     padding: 0 30px;
// }
.customCard{
    background-color: #EAEFF2;
}
.text-bold {
    //font-weight: bold;
  font-style: normal;
  font-weight: 600;
  //font-size: 16px !important;
  line-height: 19px;
  color: #42414E;
  margin-bottom: 12px !important;
  }
  .agreementcopy{
    font-style: normal !important;
  font-weight: normal !important;
  font-size: 15px;
  line-height: 22px !important;
  color: #42414E;
  }
  .block{
    width:100%;
    height:46px;
    text-align: center;
    padding: 16px 14px;
    
}

  @media screen and (max-width:1600px){
    .text-bold {
        margin-bottom: 16px !important;
    }
    .pending-review{
      padding: 24px 20px;
      &__header{
        font-size: 12px;
        line-height: 24px;
      }
    }
  }

  @media screen and (max-width:1200px) and (min-width:$screen-lg){
    .text-bold {
        margin-bottom: 24px !important;
    }
    .pending-review{
      padding: 24px 20px;
      &__header{
        font-size: 12px;
        line-height: 24px;
      }
    }
  }
  @media (min-width: 1200px) and (max-width:1600px) {
    .block{
      font-size: 10px;
        height:32px;
        padding: 9px 24px;
        line-height: 10px;
    }

}



@media (min-width:992px) and (max-width:1200px) {
.block{
  font-size: 10px;
    height:27px;
    padding: 9px 24px;
    line-height: 10px;
}
.pending-review{
  padding: 24px 20px;
  &__header{
    font-size: 12px;
    line-height: 24px;
  }
}
}

@media (min-width:768px) and (max-width:992px) {
  .block{
      height:46px;
      padding: 16px 25px;
  }
  .pending-review{
    padding: 24px 18px;
    &__header{
      font-size: 15px;
      line-height: 22px;
    }
  }
  }

  @media (min-width:320px) and (max-width:768px) {
    .block{
        height:46px;
        padding: 16px 14px;
    }
    .pending-review{
      padding: 24px 18px;
      &__header{
        font-size: 15px;
        line-height: 22px;
      }
    }
    }

    .newSpecial{
      width: 200%;
    }

    .componentsTopMargin{
      margin-top: 38px;
      @media screen and (max-width:$screen-xxl) {
        margin-top: 28px;
        
      }
      @media screen and (max-width:$screen-xl) {
        margin-top: 28px;
        
      }
    }

    .form-container {
      &__header {
        //font-weight: $bold;
        //font-size: 18px;
        //line-height: 22px;
        //color: $spotify-blue;
        //font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        font-style: normal;
        color: #42414E;
        margin: 0 0 12px;
       ;
      }
    
      &__copy {
        font-weight: $normal;
        font-size: 15px;
        line-height: 22px;
        color: $newBlack;
        margin: 0 0 18px;
      }
    }
