.center-align-contents-vertical {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0%;
    flex-direction: column;
}

.top-spacing {
    margin-top: 2%;
}

.left-align {
    margin-left: 0%;
}

.flags {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.worldmap {
    /* margin-right: 10px; */
    width: 500px;
    /* height: 100px; */
}

.country-heading {
    color: rgb(5, 127, 115);
    margin-bottom: 25px !important;
    font-size: 20px !important;
}

.country-button:hover {
    background-color: rgb(184, 222, 251);
}

.each-country {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
}

.center-align-contents-vertical-1 {
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-bottom: 25px !important;
}

.language-button {
    margin-right: 10%;
}

.link {
    color: rgb(78, 78, 201);
    cursor: pointer;
}

.spotifyLogo {
    height: 100px;
    width: 150px;
}

.proceed-button {
    float: right !important;
    padding-right: 50px;
}

.ant-btn {
    border-radius: 4px !important;
    /* Add other CSS properties here to fully customize the button's appearance */
}
