@import "~spotify-shared-web/assets/styles/variables";



.footer-links {
    padding: 10px 0px;
    font-size: 14px;
    cursor: pointer;

    a {
        color: #717073;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: $screen-md) {
        text-align: center;
        padding: 15px 0px;
        font-size: 14px;
        line-height: 21px;
    }

    @media (min-width:$screen-lg) {
        padding:5px 0px;
    }
}



.footer-copyright {
    padding: 10px;
    text-align: right;
    color: #717073 !important;
    font-size: 14px;
    cursor: pointer;

    @media (max-width: $screen-lg) {
        text-align: center;
        padding: 0 15px;
        padding-bottom: 15px;
    }

    @media (min-width:$screen-lg) and (max-width:$screen-xl) {
        padding: 10px;
        font-size: 10px;
    }

}

.footer {
    background-color: #EAEFF2;
    border-top: #C2CACA 1px solid;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;

    @media screen and (min-width: $screen-lg) {

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;

        width: 100%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    clear: both;
    font-size: 14px;
    color: #717073 !important;
    width: 100%;
    background-color: #EAEFF2;
    border-top: #C2CACA 1px solid;
    padding: 15px 0;

    @media (min-width:$screen-xl) and (max-width:$screen-xxl) {
        font-size: 12px;
        line-height: 21px;
    }

    @media (min-width:$screen-lg) and (max-width:$screen-xl) {
        font-size: 10px;
        line-height: 21px;
    }
}

#footer .container-fluid {
    background-color: #EAEFF2;
    border-top: #C2CACA 1px solid
}

.col-skip {
    @media (min-width:$screen-md) and (max-width:$screen-lg) {
        margin: 0 8.33%
    }
}

.selected-language {
    /* Change to your preferred link color */
    cursor: pointer;
    color: #00827e !important;
}

.top-spacing {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 5px !important;
    padding-top: 0px !important;
}

.top-spacing {
    margin-top: 10px !important;
}

.FTC-Notice{
    font-size: 18px ;
    color:$blue-button !important;
    font-weight: $bold;
}
