@import "~spotify-shared-web/assets/styles/variables";

.OutstandingTaskAlertContainer {
  background-color: $white-nav;
  margin-top: -15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.AgentTypePendingAlert {
  color: #232323;
  margin-top: -15px;
  margin-bottom: 15px;
  padding-top: 20px;

  h1 {
    color: #232323;
    text-transform: none;
    line-height: 3rem;
    margin-bottom: 0;
    margin: auto;
    width: 70%;
  }

  
  .styleButton {
    margin:2.5rem auto !important;
    text-align: center;
  }
  .newContainer {
    background-color: #f7f7f7;
    margin: auto;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    display: none;
    img {
      margin: 5rem 1.8rem;
      width: 8rem;
      height: 4.3rem;
    }
  }
}

.smallContainer {
  width: 77%;
  color: #232323;
  text-align: center;
  margin: auto;
}

@media (min-width:992px) and (max-width:1600px){
  .AgentTypePendingAlert{
    .smallContainer{
      width:90%
    }
  }
}

@media (min-width:768px) and (max-width:992px){
  .newContainer{
    display: grid  !important;
    grid-template-columns: 30% 33% 33%;
    justify-items: center;
}
  }

@media only screen and (max-width: 992px) {
  .AgentTypePendingAlert {
    margin: 0.5rem;
    padding-top: 0;
    h1 {
      width: 100%;
      text-align: left;
    }
    .styleButton {
      margin:2.5rem 0 2rem 0 !important;     
      text-align:left;
    }
    

    .smallContainer {
      width: 100%;
      text-align: left !important;
      font-size: 13px !important;
      line-height: 24px;
      margin: 0;
      float: left;
    }
    .newContainer {
      margin-top: 2rem;
      margin-bottom: 4rem;
      padding: 3rem 0 2rem 0rem;     
      justify-content: center;
      img {
        margin: 1.5rem;
        width: 127px;
        height: 59px;
      }
    }
    img {
      margin: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
