@import '~spotify-shared-web/assets/styles/variables';

.OpportunitiesWidgetTabsWrapper {
    .DashboardTabs {
        margin-left: -15px;
        margin-right: -15px;
    }


    .DashboardTabs > .nav-item {
        margin-left: 15px
    }

    .DashboardTabs > .nav-item {
        // border-color: #dee2e6 #dee2e6 #fff;
    }

    .DashboardTabs > .nav-item.active {
        background-color: #EAEFF2;
        border-bottom: 3px solid #00827E;
    }

    @media (max-width: 400px) {
        .DashboardTabs > .nav-item {
            font-size: 16px;
            margin-left: 10px;
        }

        .nav-tabs .nav-item:not(:last-child) {
            margin-right: 5px;
        }
    }

    .tabContent {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .btn-orange {
        background-color: $orange !important;
        border: none !important;
        color: white !important;
        &:focus,
        &:hover,
        &:active,
        &:disabled {
            outline: none;
            box-shadow: none !important;
            background-color: $secondary-orange !important;
            border: none;
        }
    }
}

