@import '~spotify-shared-web/assets/styles/variables';

.form-container {
  &__copy {
    font-weight: $semi-bold;
    font-size: 16px;
    line-height: 22px;
    color: $gray-dark;
    margin: 0 0 26px;
  }
}
