@import '~spotify-shared-web/assets/styles/variables';
@import '~spotify-shared-web/assets/styles/forms';

.username-inputs-wrapper,
.code-inputs-wrapper {
  margin-bottom: 32px;
}

.password-inputs-wrapper {
  position: relative;
  margin-bottom: 32px;

  button {
    position: absolute;
    top: -4px;
    right: 4px;
    padding: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
  }
}

.input-requirements {
  font-size: 12px;
  margin-top: 10px;
  color: $gray-dark;
  letter-spacing: -0.4px;

  span {
    margin-right: 8px;
    font-weight: 600;
  }
}

.submit-wrapper {
  margin-bottom: 24px;

  button {
    float: right;
  }
}

.recaptcha-wrapper {
  margin-bottom: 32px;
}
