@import "~spotify-shared-web/assets/styles/variables";
h1{
  margin-bottom: 38px;
  @media (min-width: $screen-md) and (max-width: $screen-xxl) {
    margin-bottom: 28px;
  }

}
.Change-Your-Contactor-Type-Card {
  display: flex;
  background: $gray-lightest;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  // align-content: space-around;

  img {
    width: 360px;
    height: 370px;

    @media (min-width: $screen-md) and (max-width: $screen-xxl) {
      width: 200px;
      height: 200px;
    }
  }
  .card-text {
    font-size: 15px;
    line-height: 22.5px;
    width: 75%;
    margin: auto;
    @media (min-width:$screen-md) and (max-width:$screen-xxl){
      font-size: 12px;
      line-height: 18px;
    }
    @media screen and (max-width:576px){
      margin-top:3.5rem;
      margin-bottom:1.5rem;
    }

  }
}
.agent-list {
  list-style: none;
  padding-left: 0;
}

.new-container {
  width: 50%;
  text-align: left;
  line-height: 1.4rem;
  margin-top: 2rem;
}

.back-link {
  margin-right: 0;

  button {
    font-family: $btn-font-family;
    font-size: 14px;
    font-weight: $semi-bold;
    line-height: 22px;
    color: white;
    border: none;
    border-radius: 4px;
    width:322px;
    height:46px;

    @media (min-width: 1200px) and (max-width:1600px){
        width:211px;
        height:32px;
        font-size :10px;
        line-height:12px;
    }
    @media (min-width: 992px) and (max-width:1200px){
        width:253px;
        height:32px;
        font-size: 10px;
        line-height:12px;
    }

    cursor: pointer;
    background: $blue;

    &:focus {
      outline: none;
    }
    @media (min-width: $screen-md) and (max-width: $screen-lg){
      font-size: 10px;
      width:100%;
      height:32px;
      line-height:12px;
    
    }
  
    
    
  }

}

.text-bold {
  font-weight: 600;
  color: #42414e;
  text-transform: none;
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.1rem;
}

.padding-left__15 {
  padding-left: 15px;
}

@media screen and (max-width: 576px) {
  .Change-Your-Contactor-Type-Card {
    img {
      width: 236px;
      height: 245px;
    }
    .card-text {
      width: 100%;
    }
  }
  .new-container {
    width: 100%;
    margin: 0;
  }

  .back-link {
    button {
      width: 100%;
    }
  }
}
