@import '~spotify-shared-web/assets/styles/variables';

.agreement-item {
  //padding-bottom: 32px;
  //margin-bottom: 32px;
 // border-bottom: 1px solid $gray-light;

  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid $gray-light;
    //padding-bottom: 6px;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      align-items: flex-end;
    }

    &--title {
      /*font-size: 18px;
      font-weight: $semi-bold;
      line-height: 22px;
      letter-spacing: -0.4px;
      color: $spotify-blue;
      margin: 0 0 10px;*/

      font-style: normal;
      font-weight: normal !important;
      font-size: 24px;
      line-height: 29px;
      color: #00827E;

      @media screen and (max-width:1600px) {
        font-size: 18px;
      }
      @media screen and (max-width:1200px) {
        font-size: 18px;
      }

    }
    h2{
      margin-block-end: 0;
      @media screen and (max-width:576px) {
        margin-block-end: 1.5rem;
      }
    }
    

    &--text {
      /*font-size: 14px;
      text-align: justify;
      font-weight: $normal;
      color: $black;
      margin-top: 20px !important;*/
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 15px;
      line-height: 26px;
      color: #42414E;
      margin-top: 24px !important;

      @media (min-width: $screen-sm) {
        margin: 0;
        font-size: 13px;
        line-height: 24px;
      }
    }
  }

  &__signed {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    color: $green-success;
    border: 2px solid $green-success;
    border-radius: $border-radius-button;
    height: 30px;
    width: 90px;
    font-size: 14px;
    line-height: 14px;
    cursor: default;
  }
}
