@import '~spotify-shared-web/assets/styles/variables';

.agreement-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
  }

  .back-link {
    margin-right: 0;
    order: 1;

    @media (min-width: $screen-md) {
      margin-right: 120px;
      order: 0;
    }

    button {
      font-size: 16px;
      font-weight: $semi-bold;
      line-height: 22px;
      color: $blue;
      border: none;
      text-decoration: underline;
      cursor: pointer;
      background: none;
    }
  }

  &__sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 0;
    width: 100%;

    @media (min-width: $screen-md) {
      flex-direction: row;
      order: 0;
      width: auto;
    }

    p {
      margin: 0 0 12px 0;
      text-align: left;
      font-size: 12px !important;
      font-weight: $normal;
      font-family: 'Poppins-Medium', 'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
      line-height: 16px;
      color: $gray-dark;

      @media (min-width: $screen-md) {
        text-align: right;
        margin: 0 16px 0 0;
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;

      @media (min-width: $screen-md) {
        width: auto;
      }

      button {
        width: 136px;
        margin-bottom: 12px;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        @media (min-width: $screen-md) {
          margin-bottom: 0;
        }
      }
    }
  }
}
