@import '../../../assets/styles/variables';
@import '../../../assets/styles/forms';

.checkbox-input {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: solid 1px $gray-light;
    background-color: $white;
    display: inline-block;
    position: relative;
    margin-right: 12px;
  
    &:checked {
      background: url('../../../assets/images/checkbox-icon.svg') center center no-repeat;
    }
  }

  .message-error{
    font-size: 13px;
    color:red;
  }

