@import '~spotify-shared-web/assets/styles/variables';
@import '~spotify-shared-web/assets/styles/forms';

.username-inputs-wrapper,
.email-inputs-wrapper {
  margin-bottom: 32px;
}

.submit-wrapper {
  margin-bottom: 24px;
  button {
    float: right;
  }
}

.recaptcha-wrapper {
  margin-bottom: 32px;
}
