//
@import "~spotify-shared-web/assets/styles/variables";

//

@import "~spotify-shared-web/assets/styles/typography";
@import "~spotify-shared-web/assets/styles/utilities";

//

@import "~spotify-shared-web/assets/vendor/bootstrap/bootstrap.scss";
@import "~spotify-shared-web/assets/vendor/bootstrap/bootstrap-reboot.scss";
@import "~spotify-shared-web/assets/vendor/bootstrap/bootstrap-grid.scss";

//
@import "~spotify-shared-web/assets/styles/headings";
@import "~spotify-shared-web/assets/styles/assessment-state";
@import "~spotify-shared-web/assets/styles/badge";
@import "~spotify-shared-web/assets/styles/button";
@import "~spotify-shared-web/assets/styles/carousel";
@import "~spotify-shared-web/assets/styles/checkbox";
@import "~spotify-shared-web/assets/styles/containers";
@import "~spotify-shared-web/assets/styles/form-fields";
@import "~spotify-shared-web/assets/styles/lists-tables";
@import "~spotify-shared-web/assets/styles/messages";
@import "~spotify-shared-web/assets/styles/opportunity";
@import "~spotify-shared-web/assets/styles/program-board";
@import "~spotify-shared-web/assets/styles/progress-trackers";
@import "~spotify-shared-web/assets/styles/scrollbar";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    src: local('Poppins Regular'), url("./assets/fonts/Poppins-Regular.otf") format("opentype");
    ;
}



* {
    font-family: 'Poppins Regular', 'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}




.pointer {
    cursor: pointer;
}

.link,
a.link {
    color: $spotify-blue;
    text-decoration: underline;
    background-color: transparent;

}

.MuiInputLabel-outlined {
    z-index: 0 !important;
    transform: translate(15px, 15px) scale(1);
}

.MuiInputBase-input {
    color: #42414E !important;
    //background-color: #00827E;
    height: 22px !important;
    font-size: 15px !important;
    padding-left: 16px !important;
    padding-top: 8px !important;
    padding-bottom: 9px !important;

}

.MuiInputBase-root {
    font-family: "Poppins Regular" !important;
}

p {
    font-size: 15px;
    line-height: 26px;
    color: $newBlack;
}

@media screen and (max-width:576px) {
    p {
        font-size: 13px;
        line-height: 24px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Poppins Regular';
}



.custom-select {
    font-family: 'Poppins Light';
}

h1 {
    color: $spotify-blue;
    font-size: 2rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.0rem;
}

h4,
.h4 {
    font-size: 16px;
    line-height: 24px;

    @media (min-width:$screen-lg) and (max-width:$screen-xxl) {
        font-size: 12px;
        line-height: 18px;
    }
}


.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 14px;
    color: #42414E;
}


.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #ffffff;
    border-color: #00827E;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #00827E;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.form-control {
    font-family: inherit;
}

.input-group-append {
    z-index: 0;
}

.wrapSticker {
    flex-grow: 1;
}

@media screen and (max-width:576px) {
    p {
        font-size: 13px !important;
        line-height: 24px;
    }

    .MuiFormLabel-root,
    .MuiInputBase-input {
        font-size: 13px !important;
        height: 40px;
    }

    .container,
    .container-fluid {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media (min-width: 768px) and (max-width:1200px) {
    html {
        font-size: 12px !important;
    }

    p {
        font-size: 12px !important;
        line-height: 24px !important;
    }

    .custom-control-label {
        font-size: 12px;
    }

    .MuiInputBase-input {
        height: 18px !important;
        font-size: 12px !important;

    }
}

@media (min-width:1200px) and (max-width:1600px) {
    html {
        font-size: 14px;
    }

    p {
        font-size: 12px;
        line-height: 24px;
    }

    .custom-control-label {
        font-size: 12px;
    }

    // .MuiInputBase-input{

    //     padding-left: 12px !important;
    //     padding-top: 5px !important;
    //     padding-bottom: 5px !important;
    //      height: 18px !important;
    //      font-size: 12px !important;

    //  }
}

@media (min-width:1600px) {
    html {
        font-size: 16px !important;
    }

    .container {
        max-width: 1600px !important
    }
}


// India Scalablity CSS
.center-align {
    justify-content: center;
    display: flex;
    align-items: center;
}

.note {
    font-style: italic;
    font-size: 11px;
    color: gray;
    display: flex;

}

.vertical-spacing-1 {
    margin: 10px 0 10px 0;
}

.bottom-spacing-1 {
    padding-bottom: 15px;
}

.top-spacing-1 {
    margin-top: 15px;
}

.left-spacing {
    padding-left: 5px !important;
}

.custom-error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


//Css for Autocomplete
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0px !important;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.fetching-results.ant-spin-dot {
    width: auto !important;
    height: auto !important;
}

.fetching-results {
    color: #00827e;
    font-size: 12px !important;
    padding: 0 5px 3px 0;
    background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%) 200% 100%/200% 2.5px no-repeat;
    animation: l3 3s steps(6) infinite;
}


@keyframes l3 {
    to {
        background-position: 80% 100%
    }
}
