@import '~spotify-shared-web/assets/styles/variables';
@import '~spotify-shared-web/assets/styles/forms';

.ssn-inputs-wrapper,
.firstname-inputs-wrapper,
.lastname-inputs-wrapper,
.ssn-confirm-inputs-wrapper {
  margin-bottom: 24px;
  height: 40px;

}

.status-message {
  font-family: 'Poppins Regular' !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  margin-bottom: 24px !important;
  padding: 9px !important;
  background: #e5f7f7 !important;
  border-radius: 4px !important;
  color: #455154 !important;
  width: 70% !important;
}

.unique-number-inputs-wrapper {
  margin-bottom: 24px !important;
  height: 40px !important;
  width: 70% !important;
}


.secondary-Unique-number-confirm-inputs-wrapper {
  margin-bottom: 5px;
  height: 40px;
}

.width-70 {
  width: 70%;
}

.left-35 {
  float: left !important;
  margin-left: 35%;
}

.disable-header {
  color: #00827e7a !important;
}


.verified-status {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center
}

.verified-icon {
  height: 18px;
  width: 18px;
}

.uniqueIdentityVerificationFailedError,
.secondaryUniqueIdentityVerificationFailedError {
  font-weight: 400;
  font-size: 100%;
  margin-bottom: 24px;
  padding: 9px;
  border-radius: 4px;
  color: #455154;
  //background-color: rgb(231, 121, 121);
  background-color: #F08080;
}

.disabled-text-field {
  background-color: #f0f0f0 !important;
  /* Change the background color */
  color: #999 !important;
  /* Change the text color */
  cursor: not-allowed;
  /* Change the cursor style */
}

.ssn-confirm-inputs-wrapper {
  margin-bottom: 32px;
}

.submit-wrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: $normal;
    color: $newBlack;
    font-size: 16px;
    margin: 0;
  }
}

.restart-button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: $spotify-blue;
  text-decoration: underline;
  outline: none;
  background: none;
  //margin-bottom: 64px;
}

.edit-button {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: 14px;
  color: #FF8D50;
  border: #FF8D50;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 45px;
  //text-decoration: underline;
  cursor: pointer;
  background: none;
  //margin-bottom: 64px;

  &:focus {
    outline: none;
  }
}

.alignright {
  //text-align: right;
  float: right;

}

@media screen and (max-width:576px) {
  .alignright {
    float: right;

  }
}

.uniqueIdentityDiv {
  padding-top: 15px;
  padding-bottom: 15px;
}

.secondaryUniqueIdentityDiv {
  padding-top: 15px;
  padding-bottom: 15px;
}

.refershButton,
.verifyButton {
  // font-size: 14px !important;
  // font-weight: 600 !important;
  // font-style: normal !important;
  // line-height: 14px !important;
  color: #ffff !important;
  // border-color: #00827e !important;
  // border-style: solid !important;
  // border-width: 1px !important;
  // box-sizing: border-box !important;
  // border-radius: 4px !important;
  // height: 45px !important;
  // //text-decoration: underline !important;
  padding: 10px 30px 10px 30px !important;
  // cursor: pointer !important;
  background: #00827E !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;

  width: 123px !important;
  height: 45px !important;
  top: 871px !important;
  left: 160px !important;
  border-radius: 4px;

  &:focus {
    outline: none;
  }
}

.disabled-input-field {
  background-color: #f8f9fa !important;
  cursor: not-allowed !important;
}

.checkbox-input {
  display: block;
  -webkit-appearance: none;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 4px;
  border: solid 1px $gray-light;
  background-color: $white;
  display: inline-block;
  position: relative;
  margin-right: 13px;
  margin-bottom: 18px;

  &:checked {
    background: url('../../../assets/images/checkbox-icon.svg') center center no-repeat;
  }
}

.agreeButtonGroup {

  display: flex !important;
  justify-content: space-between !important;
  padding: 0 100px;
  /* Adjust padding as needed */
}

.declineButton {
  background-color: #fb5151 !important;
  border-color: #fb5151 !important;
}

.tos-inputs-wrapper {
  display: flex;
  align-items: flex-start;

  //margin-bottom: 24px;
  //height: 100px;
  p {
    margin: 0;
    //height:100px;
    width: 100%;
    //font-size: 13px;
    font-weight: $normal;
    font-style: normal;
    line-height: 19px;
    //margin-bottom: 64px;
    //letter-spacing: -0.4px;
    color: #42414E;

    @media screen and (max-width:$screen-sm) {
      //margin-bottom: 42px;
      font-size: 11px !important;
      line-height: 20px;
    }


  }
}
