
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom:75%; /* This is for a 16:9 aspect ratio, adjust as needed */
    overflow: hidden;

    @media screen and (max-height: 768px) {
         padding-bottom:56.25%;
        }
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
