@import '~spotify-shared-web/assets/styles/variables';

.how-it-works {
  &__header {
    font-size: 16px;
    font-weight: $bold;
    font-style: normal;
    margin: 0 0 16px 0;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: $blue;
  }

  &__video-wrapper {
    margin-bottom: 24px;
  }

  &__copy {
    font-size: 16px;
    font-weight: $normal;
    font-style: normal;
    margin: 0 0 26px 0;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: $gray-dark;
  }

  &__list {
    padding: 0;
    text-decoration: none;
    margin: 0;

    &--item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      img {
        margin: 0 12px 0 5px;
      }

      p {
        font-size: 16px;
        font-weight: $normal;
        font-style: normal;
        margin: 0;
        line-height: 22px;
        letter-spacing: -0.4px;
        color: $gray-dark;
      }
    }
  }
}
