@import '~spotify-shared-web/assets/styles/variables';
@import '~spotify-shared-web/assets/styles/forms';

.mobile-phone-wrapper {
  margin-bottom: 32px;
  color: red;
  font-size: 12px;
}

.submit-wrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cancel-button {
    font-weight: $semi-bold;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    color: $blue;
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: underline;
    letter-spacing: -0.4px;
    cursor: pointer;
  } 
}
