run-name:  "${{ github.repository }} CI pipeline - Triggered by : ${{ github.actor }}"
on: 
  push:
    branches:
      - Bravo
    
jobs:
  Build:
    name: "GlobalExpansion-R2C build"
    runs-on: [ self-hosted, Windows, X64, spotify-Runner-02 ]
    steps:
        - uses: actions/checkout@v4

        - name: Set up Node 12.18.3
          uses: actions/setup-node@v4
          with:
            node-version: 12.18.3

        - name: Build
          run: |
            echo "Building the ${{ github.repository }}"
            npm install 
            xcopy /Y "C:\spotify-build-essential\new-index.js" ".\node_modules\html-to-react\node_modules\htmlparser2\lib\esm\index.js"
            npm run build 

        - uses: actions/upload-artifact@v4
          with:
            name: "PostSF_GlobalExpansion-R2C-Build-Artifacts-${{ github.sha }}"
            path: | 
              .\build\*

  Upload-Artifacts:
      name: "Upload to S3"
      runs-on: [ self-hosted, Windows, X64, spotify-Runner-02 ]
      needs: Build
      steps:
        - uses: actions/download-artifact@v4
          with:
            name: PostSF_GlobalExpansion-R2C-Build-Artifacts-${{ github.sha }}
            path: Artifacts
        - name: "Check the files."
          run: |
            mkdir drop -force
            cp -r .\Artifacts\* .\drop -force            
            compress-archive drop\* GlobalExpansion-R2C-Build_Artifacts-Bravo.zip -force
            aws configure set aws_access_key_id "${{ secrets.STAGE_S3_KEY }}"
            aws configure set aws_secret_access_key "${{ secrets.STAGE_S3_VALUE }}"
            aws configure set default.region us-east-1
            aws s3 cp GlobalExpansion-R2C-Build_Artifacts-Bravo.zip s3://spotify-github-builds-test/R2C-GE/
