@import '~spotify-shared-web/assets/styles/variables';

.form-container {
  &__header {
    font-weight: $bold;
    font-size: 18px;
    line-height: 22px;
    color: $blue;
    margin: 36px 0 36px;
  }
}
.margin{
  &__FindCallCenter{
    margin-top: 64px;
  }
}
.business-found {
  font-weight: $semi-bold;
  font-size: 16px;
  margin-bottom: 32px;
  padding: 9px;
  background: $blue-light;
  border-radius: 4px;
  color: $gray-dark;
}
@media screen  and (max-width:$screen-xxl){
  .margin{
    &__FindCallCenter{
      margin-top: 30px;
    }
  }
}
@media screen  and (max-width:$screen-xl){
  .margin{
    &__FindCallCenter{
      margin-top: 28px;
    }
  }
}
@media screen  and (max-width:$screen-lg){
  .margin{
    &__FindCallCenter{
      margin-top: 38px;
    }
  }
}
@media screen  and (max-width:$screen-sm){
  .margin{
    &__FindCallCenter{
      margin-top: 38px;
    }
  }
}
