@import '~spotify-shared-web/assets/styles/variables';

.align-center {
  text-align: center;
}

.horizontal-spacing {
  padding-right:30px;
  padding-left: 0;

  @media screen and (max-width:576px) {
    padding:0 24px;
  }
}
.margin{
  &__FindCallCenter{
    margin-top: 64px;
  }
}
.lineHeight{
  line-height: 48px;
}
.header-title {
  color: $blue;
  font-weight: $bold;
}

.business-change {
  margin-bottom: 24px;

  &__header {
    font-size: 16px;
    font-weight: $semi-bold;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: $gray-dark;
  }

  &__cta {
    display: flex;
    align-items: center;
  }

  &__copy {
    font-size: 14px;
    color: $gray-dark;
    padding: 8px;
    border-bottom: 2px solid $gray-light;
    flex: 4;
    margin-right: 18px;
  }

  button {
    flex: 1;
  }
}

.businesses-modal {
  position: relative;
  overflow: hidden;
  min-height: 400px;
  max-height: 1200px;

  @media (min-width: $screen-md) {
    padding: 30px 32px;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $gray-light;

    h5 {
      margin: 24px 0;
      font-size: 16px;
      font-weight: $bold;
      line-height: 22px;
      letter-spacing: -0.4px;
      color: $blue;
    }
  }

  &__content {
    padding-top: 64px;
    text-align: center;
  }

  &__list {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    margin-top: 8px;
    width: 100%;
    max-height: 1200px;
    padding-bottom: 66px;
    list-style-type: none;
    padding-left: 0;
    overflow: scroll;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    margin: 0 24px;
    border-bottom: 1px solid $gray-light;

    &--copy {
      font-family: 'Poppins Light';
      font-size: 15px;
      font-weight: $normal;
      color: $newBlack;
      margin: 0 12px 0 0;
    }
  }
}

.restart-button {
  border: $spotify-blue;
  padding: 16px;
  cursor: pointer;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  //text-decoration: underline;
  outline: none;
  background: $spotify-blue;
  border-radius: 4px;
  width: 100%;
}
.text-bold {
  //font-weight: bold;
font-style: normal;
font-weight: 600;
font-size: 16px !important;
line-height: 19px;
color: #42414E;
margin-bottom: 12px !important;
}
.agreementcopy{
  font-style: normal !important;
font-weight: normal !important;
font-size: 15px;
line-height: 22px !important;
color: #42414E;
}
.block{
  width:100%;
  height:46px;
  text-align: center;
  padding: 16px 14px;
  
}
@media screen and (max-width: $screen-xxl) {
  .lineHeight{
    line-height: 36px;
}
.block{
  font-size: 10px;
    height:32px;
    padding: 9px 24px;
}
.margin{
  &__FindCallCenter{
    margin-top: 30px;
  }
}

}

@media screen and (max-width: $screen-xl) {
  .margin{
    &__FindCallCenter{
      margin-top: 28px;
    }
  }
  .lineHeight{
    line-height: 30px;
}
.block{
  font-size: 10px;
    height:32px;
    padding: 9px 0px;
}
}

@media screen and (max-width: $screen-lg) {
  .lineHeight{
    line-height: 36px;
}
.margin{
  &__FindCallCenter{
    margin-top: 38px;
  }
}
}

@media screen and (max-width: $screen-sm) {
  .lineHeight{
    line-height: 36px;
}
.margin{
  &__FindCallCenter{
    margin-top: 38px;
   
  }
}
}
