@import '~spotify-shared-web/assets/styles/variables';
@import '~spotify-shared-web/assets/styles/forms';

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}


.fein-inputs-wrapper,
.business-id-inputs-wrapper {
  margin-bottom: 12px;
}

.form-height {
  height: 40px;

  @media (min-width: $screen-lg) and (min-width: $screen-xxl) {
    height: 36px !important;
  }

}


//for xl screens to xxl
.fein-field {
  min-width: none;
  max-width: none;

  @media (min-width: $screen-xl) and (max-width: $screen-xxl) {
    padding: 0px 10px 0px 15px;
  }
}

.fein-field {
  min-width: none;
  max-width: none;

  @media (min-width: $screen-xl) and (max-width: $screen-xxl) {
    padding: 0px 10px 0px 0px;
  }
}


.search-field {
  min-width: none;
  max-width: none;

  @media (min-width: $screen-xl) and (max-width: $screen-xxl) {
    padding: 0px 10px 0px 15px;
  }
}

.only-search-field {
  min-width: none;
  max-width: none;

  @media (min-width: $screen-xl) and (max-width: $screen-xxl) {
    padding: 0px 10px 0px 0px;
  }
}

.ORstyle {
  text-align: center;
  /* justify-content: center; */
  display: flex;
  align-content: flex-start;
  margin-top: 7px;
}

.fein-form-wrapper,
.business-id-form-wrapper {
  flex: 4;
  margin-bottom: 22px;

  button {
    float: right;
  }
}

.or-wrapper {
  flex: 1;
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: $screen-md) {
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    font-weight: $semi-bold;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: $newBlack;
    text-transform: uppercase;
    margin: 0;
  }
}

.business-found {
  font-weight: $semi-bold;
  font-size: 16px;
  margin-bottom: 32px;
  padding: 9px;
  background: $blue-light;
  border-radius: 4px;
  color: $gray-dark;
}

.submit-wrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-weight: $normal;
    color: $newBlack;
    font-size: 16px;
    margin: 30px 0 0 0;
  }
}

.restart-button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: $blue;
  text-decoration: underline;
  outline: none;
  background: none;
}

.align-right {
  text-align: right;
}

@media screen and (min-width: $screen-xl) {
  .search-fein {
    margin-top: 0;
  }
}

@media screen and (max-width: $screen-xxl) {


  .ORstyle {
    margin-top: 12px;
  }


}


@media screen and (min-width: $screen-md) and (max-width:$screen-lg) {

  .search-fein {
    margin-top: 0;
  }

  .ORstyle {
    margin-top: 12px;
  }
}

@media screen and (min-width: $screen-lg) and (max-width:$screen-xl) {

  .search-fein {
    margin-top: 10px;
  }

  .ORstyle {
    margin-top: 12px;
  }
}

@media screen and (max-width: $screen-lg) {

  .viewButton {
    margin-bottom: 64px;
  }



}

@media screen and (max-width: $screen-md) {
  .search-fein {
    margin-top: 6px;
  }


}


@media screen and (max-width:$screen-xl) {

  .ORstyle {
    margin-top: 12px;
  }
}

@media screen and (max-width:$screen-sm) {
  .search-fein {
    margin-top: 6px;
  }

  .ORstyle {
    margin-top: 13px;
  }

}
