@import '~spotify-shared-web/assets/styles/variables';

.LoadingComponent_loading-spinner__24qaJ {
    height: 124px;
    margin: 18px 0;
}

.confirm-modal {
    padding: 32px 24px;
    background: #EAEFF2;
    border-radius: 4px;
    margin-top: 30px; 

    @media (min-width: $screen-sm) {
        padding: 32px 24px;
    }

    &__copy {
        font-size: 18px;
        font-weight: $normal;
        line-height: 22px;
        color: $newBlack;
    }

    &__button-wrapper {
        display: flex;

        button {
            margin-right: 24px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.pendingMargin{
    margin-top: 18px;
}

@media screen and (max-width:$screen-xxl) {
    .pendingMargin{
        margin-top: 14px;
    }
}

@media screen and (max-width:$screen-xl) {
    .pendingMargin{
        margin-top: 14px;
    }
}

@media screen and (max-width:$screen-lg) {
    .pendingFinalization{
        margin-bottom: 64px;
    }
}

@media screen and (max-width:$screen-md) {
    .pendingFinalization{
        margin-bottom: 64px;
    }
}
@media screen and (max-width:$screen-sm) {
    .pendingFinalization{
        margin-bottom: 64px;
    }
}
